*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 50%;
    height: 100%;
    display: block;
    margin: auto;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
    border-radius: 4px;
    margin-top: 40px;
    box-shadow: 1px 1px 4px gainsboro;
}

header{
    text-align: center;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid gainsboro;
}

main{
    align-items: center;
    max-width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin-left: 80px;
}

.name, .email{
    margin: 10px;
    height: 30px;
    padding: 4px;
    border: none;
    box-shadow: 1px 1px 3px gainsboro;
}


.btn{
    background-color: cornflowerblue;
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 4px;
    margin: 10px;
}

footer{
    background-color: ghostwhite;
    border-top: gainsboro 1px solid;
    width: 100%;
	min-height: 30px;
}

footer p {
    font-weight:100;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    color: ghostwhite;
    text-shadow: 1px 1px 3px grey;
}